{% extends 'base.html' %}

{% block body %}

<br><br><div class="container" style="background-color:blueviolet">
        <h2 align="center" style="color:rgb(250, 248, 248)"><strong>About us</strong></h2>
        <div class="jumbotron" style="background-color:rgb(250, 248, 248);">
            <div class="row">
                <div class="col-sm-5">
                            <img src="https://sis.berkeley.edu/sites/default/files/styles/openberkeley_image_full/public/students_0.jpg?itok=C8bsSV3o&timestamp=1503421450" class="img-responsive" style="width:100%">
                </div>
                <div class="col-sm-7">
                    <p>A Student information systems (SIS) store and track all student information, 
                        including grades, attendance records, and more. The software functions as a digital 
                        dropbox for school-related information. SIS software has become a vital tool for both
                         educational institutions as well as parents and students, who use it to gain access to
                         student information, make payments, and communicate with school functionaries.
                        SIS products are used by teachers, students, and parents to access all relevant 
                            information pertaining to a student’s schooling. SIS software is leveraged for a 
                            few different functions; the main two being as a channel of communication and
                             as a place to store student information. 
    
                    </p>
                </div>
            </div>
        </div>
       
    </div><br><br><br>
    

{% endblock %}