{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block body %}

<div class="container-fluid">
        <div class ="container-fluid "><br>
            <h1><strong><center>Teachers List</center></strong></h1>
        </div>
<!-- <div class = "container">
    <a href = "{% url 'attendence' %}"><button class = "btn btn-primary btn-lg">Attendence Report</button></a>
</div> -->

<div class="row justify-content-center">
        <div class="col-md-11 col-sm-10">
          <div class="card">
            <div class="card-body">
        <table class="table  table-hover  table-bordered">
            <thead>
                <tr>
                  <th>Teacher Name</th>
                  <th>Email</th>
                  
                </tr>
            </thead>
            <tbody>
                {% for teach in teach_list %}
                    <tr>
                            <td>{{ teach.user.first_name }} {{ teach.user.last_name }}</td>
                            <td>{{ teach.user.email }}</td>
                               
                    </tr>
                {% endfor %}
            </tbody>
        </table>
</div></div></div></div>
</div>
<br><br><br><br>
{% endblock%}